body {
  background: rgb(255, 250, 242);
  color: rgb(82, 54, 4);
}
.navbar-inverse {
  background: linear-gradient(0deg, rgb(255, 234, 196) 0%, rgb(221, 201, 120) 100%) rgb(221, 201, 120);
  border-color: rgb(82, 54, 4);
  color: rgb(82, 54, 4);
  padding: 0 15px;
  margin: 20px -15px 10px;
}
.navbar-inverse > .container .navbar-brand, .navbar-inverse > .container-fluid .navbar-brand {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: rgb(82, 54, 4);
  text-shadow: none;
}
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  color: rgb(82, 54, 4);
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(255, 250, 242);
}
.navbar-inverse .navbar-nav > .active > a {
  background: linear-gradient(0deg, rgb(121, 110, 91) 0%, rgb(82, 54, 4) 100%) rgb(121, 110, 91);
  color: rgb(255, 250, 242);
}
ul.bold li {
  font-weight: bold;
}
ul.bold li ul li {
  font-weight: normal;
}
.indent {
  margin-left: 2em;
}
.modal-dialog {
  min-width: 80%;
}
.modal-dialog img {
  margin: auto;
}
.modal-backdrop {
  position: fixed;
  bottom: 0;
}
